.form__title {
  width: 100%;
  margin: auto;
  padding: 1.5em 1.5em 1em 1.5em;

  display: block;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
}

.form__field {
  margin: 2em auto;

  position: relative;
}

.form__input, .form__select {
  width: 100%;
  height: 3.5rem;
  padding: 0.5em 1em;
  border: none;
  border-bottom: 1.5px solid var(--blue-color-2);

  background-color: rgb(232, 240, 254);
  transition: 0.5s;
  font-size: 1em;
}

.form__input:disabled {
  color: black;
}

.form__label {
  width: fit-content;
  height: 3.5em;
  padding: 0.5em 1em;

  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  pointer-events: none;
  transition: 0.1s;
  background-color: transparent;
}

.form__input:focus ~ .form__label, .form__label--active {
  width: fit-content;
  height: 2em;
  margin-left: 1rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 10px;
  top: -1em;

  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 0.25em;
  transition: 0.5s;
  background-color: white;
}

.form__textarea {
  width: 90%;
  padding: 0.5em 1em ;
  margin: 0 auto;
  border: none;

  min-height: 150px;
  resize: none;
  display: block;
  background-color: rgb(232, 240, 254);
  font-size: 1.25em;
}

/********************************************************************/

.form__label--success {
  color: var(--blue-color-2);
  background-color: white;
}

.form__label--error {
  color: red;
  background-color: white;
}

.form__input--error, .form__select--error, .form__textarea--error {
  background-color: rgba(255, 0, 0, 0.1);
}

/********************************************************************/

.w-45 {
  width: 45%;
}

.w-90 {
  width: 90%;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

